{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Eventbrite plugin for Craft CMS
 *
 * EventbriteWidget Widget Body
 *
 * @author    Mark @ A Digital
 * @copyright Copyright (c) 2019 Mark @ A Digital
 * @link      https://adigital.agency/
 * @package   Eventbrite
 * @since     1.0.0
 */
#}

<table class="data fullwidth">
  <tbody>
    {% for event in craft.eventbrite.allEvents() %}
      <tr>
        <td>{{ event['name']['text'] }} <span class="light nowrap">{{ event['start']['utc']|date("d/m/Y") }}</span></td>
      </tr>
    {% endfor %}
  </tbody>
</table>