{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Eventbrite plugin for Craft CMS
 *
 * EventbriteWidget Widget Body
 *
 * @author    Mark @ A Digital
 * @copyright Copyright (c) 2019 Mark @ A Digital
 * @link      https://adigital.agency/
 * @package   Eventbrite
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@adigital/eventbrite/assetbundles/eventbritewidgetwidget/dist', true) ~ '/img/EventbriteWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
